@font-face {
  font-family: "Raleway";
  src: url(../fonts/ralewaythin.woff) format("woff"),
    url(../fonts/ralewaythin.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/ralewayextralight.woff) format("woff"),
    url(../fonts/ralewayextralight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}
