@font-face {
    font-family: 'Poppins';
    src:
    url(../fonts/Poppins-Light300.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: 
    url(../fonts/Poppins-Regular400.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: 
    url(../fonts/Poppins-Medium500.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: 
    url(../fonts/Poppins-SemiBold600.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src:
    url(../fonts/Poppins-Bold700.ttf) format('truetype');
    font-weight: 700;
}
