@font-face {
  font-family: "Raleway-ligth";
  src: url(../fonts/ralewayextralight.woff) format("woff"),
    url(../fonts/ralewayextralight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/ralewaylight.woff) format("woff"),
    url(../fonts/ralewaylight.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
