.header {
  &__menu {
    font-family: "Raleway", sans-serif;
    height: 40px;
    padding: 24px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .svg {
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: #fff;
      cursor: pointer;
      width: 25px;
      height: 25px;
    }
    &_burger {
      mask-image: url(../img/burger.svg);
      width: 34px;
      height: 24px;
    }

    &_link {
      font-family: "Raleway";
      width: 233px;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;

      a {
        color: #fff;
      }
    }
    &_logo {
      width: 158px;
      height: 40px;
      background: transparent url(../img/YANKI.svg) no-repeat center;
    }
    &_box {
      display: flex;
      justify-content: space-around;
      width: 131px;
      height: 21px;
    }
    &_language {
      font-family: "Raleway";
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
    }
    &_language::after {
      content: " ";
      display: inline-block;
      mask-position: 6px 6px;
      mask-repeat: no-repeat;
      background-color: #fff;
      cursor: pointer;
      mask-image: url(../img/arrow.svg);
      width: 18px;
      height: 18px;
    }
    &_icon {
      display: flex;
      justify-content: space-between;
      width: 175px;

      &_loupe {
        mask-image: url(../img/loupe.svg);
      }

      &_frame {
        mask-image: url(../img/Frame.svg);
      }
      &_like {
        mask-image: url(../img/like.svg);
      }
      &_basket {
        mask-image: url(../img/basket.svg);
      }
    }
  }
}
@media screen and (max-width: 920px) {
  .header {
    &__menu {
      padding: 20px 0 0;

      &_link {
        width: 200px;
        font-size: 15px;
      }
      &_box {
        width: 120px;
        height: 21px;
      }
      &_language {
        font-size: 15px;
        line-height: 21px;
      }
      &_language::after {
        mask-position: 4px 6px;
        width: 15px;
        height: 15px;
      }
      &_icon {
        width: 175px;
      }
    }
  }
  .menu__two .header__menu_logo {
    width: 180px;
    height: 40px;
    background-size: 80%;
  }
}
@media screen and (max-width: 782px) {
  .header {
    &__menu {
      .svg {
        mask-size: 80%;
      }
      &_burger {
        mask-size: 100% !important;
      }
      &_link {
        display: none;
      }
      &_logo {
        width: 140px;
        background-size: 90%;
      }
      &_box {
        width: 85px;
      }
      &_language {
        font-size: 15px;
        line-height: 19px;
      }
      &_language::after {
        mask-position: 1px 7px;
        mask-size: 50%;
      }
      &_icon {
        width: 120px;
      }
    }
  }
}
@media screen and (max-width: 570px) {
  .header {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;

    &__menu {
      padding: 20px 0 0;

      .svg {
        mask-size: 100%;
        width: 20px;
        height: 20px;
      }
      &_burger {
        width: 34px !important;
        height: 24px !important;
        mask-size: 100%;
      }

      &_logo {
        width: 79px;
        height: 20px;
        background-size: 100%;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 0;
        grid-row-end: 1;
      }
      &_box {
        width: 60px;
        height: 21px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 0;
        grid-row-end: 1;
      }
      &_language {
        font-size: 16px;
      }
      &_language:last-child {
        display: none;
      }
      &_language::after {
        mask-position: 4px 7px;
        mask-image: url(../img/arrow.svg);
        mask-size: 60%;
      }
      &_icon {
        width: 60px;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 0;
        grid-row-end: 1;
        &_loupe {
          display: none;
        }

        &_frame {
          display: none;
        }
      }
    }
  }
  .menu__two .header__menu_logo {
    width: 130px;
    height: 20px;
    background-size: 80%;
  }
}
@media screen and (max-width: 376px) {
  .header {
    &__menu {
      height: 24px;

      padding: 20px 0 0;

      .svg {
        width: 24px;
        height: 24px;
      }
      &_box {
        width: 42px;
        height: 20px;
      }
      &_language {
        font-size: 16px;
        line-height: 19px;
      }
      &_language::after {
        mask-position: 5px 6px;
        width: 14px;
        height: 14px;
      }
    }
  }
  .menu__two .header__menu_logo {
    width: 97px;
    height: 20px;
    background-size: 100%;
  }
}

.menu__two .header__menu_burger,
.menu__two .header__menu_icon_loupe,
.menu__two .header__menu_icon_frame,
.menu__two .header__menu_icon_like,
.menu__two .header__menu_icon_basket {
  background-color: #e0bea2;
  transition: background-color 0.3s ease;
}

.menu__two .header__menu_language::after {
  background-color: #252525;
  transition: background-color 0.3s ease;
}
.menu__two .svg:hover {
  background-color: #252525;
}
.menu__two .header__menu_logo {
  background: transparent url(../img/YANKI2.svg) no-repeat center;
  width: 195px;
  height: 40px;
}
.menu__two a {
  color: #252525;
}
.menu__two a:hover {
  color: #e0bea2;
  transition: 0.3s ease;
}
.menu__two .header__menu_language {
  color: #252525;
}

.menu__two {
  background: none;
}
