.new {
  display: flex;
  margin: 329px auto 493px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    opacity: 0.85;
    width: max-content;
  }
  span {
    width: 120px;
    border-top: 1px solid white;
    display: block;
    margin: 20px 0;
  }
  &__text {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: max-content;
    a {
      color: #fff;
    }
  }
  &__text::after {
    content: " ";
    display: inline-block;
    background: transparent url(../img/arrow.svg) no-repeat 1px center;
    transform: rotate(-90deg);
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 920px) {
  .new {
    margin: 260px auto 480px;
  }
}
@media screen and (max-width: 570px) {
  .new {
    margin: 260px auto 300px;

    &__title {
      font-size: 39px;
      line-height: 46px;
    }
    &__text {
      font-size: 15px;
    }
    &__text::after {
      width: 16px;
      height: 16px;
    }
  }
}
@media screen and (max-width: 376px) {
  .new {
    margin: 246px auto 351px;

    &__title {
      font-size: 32px;
      line-height: 38px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
    &__text::after {
      width: 14px;
      height: 14px;
    }
  }
}
