@import "fonts";

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
}
button {
  cursor: pointer;
  background: transparent;
}

.page {
  width: 100%;
  font-family: "Raleway-ligth";
  font-family: "Raleway";
  margin: 0 auto;
  background: transparent url(../img/Фон.png) no-repeat center 0;
  // overflow: hidden;
}
@media screen and (max-width: 375px) {
  .page {
    width: 375px;
  }
}
.container {
  width: 1140px;
  margin: 0 auto;
}
@media screen and (max-width: 1160px) {
  .container {
    width: 900px;
  }
}
@media screen and (max-width: 920px) {
  .container {
    width: 764px;
  }
}
@media screen and (max-width: 782px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 570px) {
}
@media screen and (max-width: 375px) {
  .container {
    width: 335px;
  }
}
.header {
  &__menu {
    font-family: "Raleway", sans-serif;
    height: 40px;
    padding: 24px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .svg {
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: #fff;
      cursor: pointer;
      width: 25px;
      height: 25px;
    }
    &_burger {
      mask-image: url(../img/burger.svg);
      width: 34px;
      height: 24px;
    }

    &_link {
      font-family: "Raleway";
      width: 233px;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;

      a {
        color: #fff;
      }
    }
    &_logo {
      width: 158px;
      height: 40px;
      background: transparent url(../img/YANKI.svg) no-repeat center;
    }
    &_box {
      display: flex;
      justify-content: space-around;
      width: 131px;
      height: 21px;
    }
    &_language {
      font-family: "Raleway";
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
    }
    &_language::after {
      content: " ";
      display: inline-block;
      mask-position: 6px 6px;
      mask-repeat: no-repeat;
      background-color: #fff;
      cursor: pointer;
      mask-image: url(../img/arrow.svg);
      width: 18px;
      height: 18px;
    }
    &_icon {
      display: flex;
      justify-content: space-between;
      width: 175px;

      &_loupe {
        mask-image: url(../img/loupe.svg);
      }

      &_frame {
        mask-image: url(../img/Frame.svg);
      }
      &_like {
        mask-image: url(../img/like.svg);
      }
      &_basket {
        mask-image: url(../img/basket.svg);
      }
    }
  }
}
@media screen and (max-width: 920px) {
  .header {
    &__menu {
      padding: 20px 0 0;

      &_link {
        width: 200px;
        font-size: 15px;
      }
      &_box {
        width: 120px;
        height: 21px;
      }
      &_language {
        font-size: 15px;
        line-height: 21px;
      }
      &_language::after {
        mask-position: 4px 6px;
        width: 15px;
        height: 15px;
      }
      &_icon {
        width: 175px;
      }
    }
  }
}
@media screen and (max-width: 782px) {
  .header {
    &__menu {
      .svg {
        mask-size: 80%;
      }
      &_burger {
        mask-size: 100% !important;
      }
      &_link {
        display: none;
      }
      &_logo {
        width: 140px;
        background-size: 90%;
      }
      &_box {
        width: 85px;
      }
      &_language {
        font-size: 15px;
        line-height: 19px;
      }
      &_language::after {
        mask-position: 1px 7px;
        mask-size: 50%;
      }
      &_icon {
        width: 120px;
      }
    }
  }
}
@media screen and (max-width: 570px) {
  .header {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;

    &__menu {
      padding: 20px 0 0;

      .svg {
        mask-size: 100%;
        width: 20px;
        height: 20px;
      }
      &_burger {
        width: 34px !important;
        height: 24px !important;
        mask-size: 100%;
      }

      &_logo {
        width: 79px;
        height: 20px;
        background-size: 100%;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 0;
        grid-row-end: 1;
      }
      &_box {
        width: 60px;
        height: 21px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 0;
        grid-row-end: 1;
      }
      &_language {
        font-size: 16px;
      }
      &_language:last-child {
        display: none;
      }
      &_language::after {
        mask-position: 4px 7px;
        mask-image: url(../img/arrow.svg);
        mask-size: 60%;
      }
      &_icon {
        width: 100px;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 0;
        grid-row-end: 1;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .header {
    &__menu {
      height: 24px;
      padding: 20px 0 0;

      .svg {
        width: 24px;
        height: 24px;
      }
      &_box {
        width: 42px;
        height: 20px;
      }
      &_language {
        font-size: 16px;
        line-height: 19px;
      }
      &_language::after {
        mask-position: 5px 6px;
        width: 14px;
        height: 14px;
      }
      &_icon {
        width: 60px;
        &_loupe {
          display: none;
        }

        &_frame {
          display: none;
        }
      }
    }
  }
}
.returnswap .header__menu_burger,
.returnswap .header__menu_icon_loupe,
.returnswap .header__menu_icon_frame,
.returnswap .header__menu_icon_like,
.returnswap .header__menu_icon_basket {
  background-color: #e0bea2;
  transition: background-color 0.3s ease;
}

.returnswap .header__menu_language::after {
  background-color: #252525;
  transition: background-color 0.3s ease;
}
.returnswap .svg:hover {
  background-color: #252525;
}
.returnswap .header__menu_logo {
  background: transparent url(../img/YANKI2.svg) no-repeat center;
  width: 195px;
  height: 40px;
}
.returnswap a {
  color: #252525;
}
.returnswap a:hover {
  color: #e0bea2;
  transition: 0.3s ease;
}
.returnswap .header__menu_language {
  color: #252525;
}

.returnswap {
  background: none;
}
.new {
  display: flex;
  margin: 329px auto 393px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    color: #fff;
    opacity: 0.85;
    width: max-content;
  }
  span {
    width: 120px;
    border-top: 1px solid white;
    display: block;
    margin: 20px 0;
  }
  &__text {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: max-content;
    a {
      color: #fff;
    }
  }
  &__text::after {
    content: " ";
    display: inline-block;
    background: transparent url(../img/arrow.svg) no-repeat center;
    transform: rotate(-90deg);
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 570px) {
  .new {
    margin: 260px auto 300px;

    &__title {
      font-size: 39px;
      line-height: 46px;
    }
    &__text {
      font-size: 15px;
    }
    &__text::after {
      width: 16px;
      height: 16px;
    }
  }
}
@media screen and (max-width: 375px) {
  .new {
    margin: 246px auto 291px;

    &__title {
      font-size: 32px;
      line-height: 38px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
    &__text::after {
      width: 14px;
      height: 14px;
    }
  }
}
.category {
  margin: 0 auto 100px;
  height: 542px;
  padding: 100px 0 0;

  &__title {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #252525;
    margin: 0 0 50px;
  }

  &__box {
    display: flex;
    justify-content: space-between;

    a {
      font-family: "Raleway";
      font-weight: 300;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #ffffff;
      position: relative;

      span {
        width: 274px;
        height: 40px;
        background: rgba(224, 190, 162, 0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
      }
      img {
        width: 274px;
        height: 450px;
        display: block;
        object-fit: cover;
      }
    }
  }
}
@media screen and (max-width: 1160px) {
  .category {
    margin: 0 auto 80px;
    height: max-content;
    padding: 80px 0 0;

    &__title {
      margin: 0 0 45px;
    }

    &__box {
      a {
        span {
          width: 200px;
          height: 40px;
          background: rgba(224, 190, 162, 0.75);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 0;
        }
        img {
          width: 200px;
          height: 345px;
          display: block;
        }
      }
    }
  }
}
@media screen and (max-width: 920px) {
  .category {
    margin: 0 auto 70px;
    height: 372px;
    padding: 70px 0 0;

    &__title {
      font-size: 30px;
      margin: 0 0 40px;
    }

    &__box {
      a {
        font-size: 18px;

        span {
          width: 160px;
          height: 40px;
          background: rgba(224, 190, 162, 0.75);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 0;
        }
        img {
          width: 160px;
          height: 290px;
          display: block;
          object-fit: cover;
        }
      }
    }
  }
}
.distribution {
  width: 600px;
  height: 270px;
  margin: 0 auto 100px;

  &__subtitle {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #252525;
    margin: 0 0 50px;
  }

  &__mail {
    font-family: "Raleway-ligth";
    width: 600px;
    height: 50px;
    border: 0.5px solid #252525;
    box-sizing: border-box;
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: rgba(37, 37, 37, 0.5);
    margin: 0 0 20px;
  }

  &__button {
    font-family: "Raleway-ligth";
    width: 600px;
    height: 50px;
    background: #e0bea2;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 20px;
  }
  &__button:hover {
    box-shadow: 0px 5px 7px rgba(37, 37, 37, 0.15);
    transition: 0.3s ease;
  }
  &__button:active {
    box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
    transition: 0.3s ease;
  }
  &__button:focus:not(:active) {
    background: #fff;
    color: #252525;
  }
  &__text {
    font-family: "Raleway-ligth";
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #252525;
  }
}
@media screen and (max-width: 782px) {
  .distribution {
    width: 520px;
    height: max-content;
    margin: 0 auto 90px;

    &__subtitle {
      font-size: 34px;
      line-height: 40px;
      margin: 0 0 45px;
    }

    &__mail {
      width: 520px;
      font-size: 14px;
      line-height: 18px;
    }

    &__button {
      width: 520px;
      height: 50px;
      font-size: 14px;
      line-height: 18px;
    }
    &__text {
      font-size: 15px;
      line-height: 18px;
    }
  }
}
@media screen and (max-width: 570px) {
  .distribution {
    width: 355px;
    margin: 0 auto 60px;

    &__subtitle {
      font-size: 27px;
      line-height: 34px;
      margin: 0 0 40px;
    }

    &__mail {
      width: 355px;
      font-size: 14px;
      line-height: 18px;
    }

    &__button {
      width: 355px;
      height: 50px;
      font-size: 14px;
      line-height: 18px;
    }
    &__text {
      font-size: 15px;
      line-height: 18px;
    }
  }
}
@media screen and (max-width: 375px) {
  .distribution {
    width: 335px;
    margin: 0 auto 60px;

    &__subtitle {
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 30px;
    }

    &__mail {
      width: 335px;
      font-size: 14px;
      line-height: 16px;
    }

    &__button {
      width: 335px;
      font-size: 14px;
      line-height: 16px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.footer {
  height: 120px;

  &__list {
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;
  }

  ul {
    width: 250px;
    font-family: "Raleway";
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #252525;

    li {
      font-family: "Raleway-ligth";
      font-weight: 200;
      font-size: 16px;
      line-height: 19px;
      color: #252525;
      margin-bottom: 10px;
      a {
        color: #252525;
        cursor: pointer;
      }
    }
    li:nth-child(1) {
      margin-top: 20px;
    }
  }
  div {
    font-family: "Raleway";
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #252525;
  }
}
.footer a:hover {
  color: #e0bea2;
  transition: 0.3s ease;
}
.breadcrumb {
  margin-top: 30px;

  &__item {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
  }
  &__item li::after {
    content: " ";
    position: absolute;
    mask-image: url(../img/arrow.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #e0bea2;
    width: 18px;
    height: 18px;
    right: -24px;
    top: 0;
    transform: rotate(-90deg);
  }
  &__item li:last-of-type::after {
    background-color: transparent;
  }
  li {
    margin: 0 25px 0 0;
    display: inline;
    position: relative;
  }
}
.description {
  margin: 30px auto 270px;
  &__box {
    margin-bottom: 20px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #252525;
    margin: 0 0 20px;
  }
  &__block {
    display: flex;
    justify-content: space-between;
    ol {
      width: 550px;
      li {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #252525;
        margin: 5px 0 0;
      }
      li:first-child {
        margin-top: 10px;
      }
    }
  }
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
    margin: 10px 0 0;
  }
  p:last-child {
    line-height: 19px;
    color: #252525;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    li {
      width: 165px;
      text-align: center;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #252525;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 10px;
      }
    }
  }
}
.payment {
  margin-top: 25px;
}
.description__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #252525;
}

.payment li {
  flex-direction: row;
  width: max-content;
  text-align: start;
  position: relative;

  img {
    width: 45px;
    height: 50px;
    margin: 0 15px 0 0;
    object-fit: contain;
  }
}

.payment li:last-child {
  width: 550px;
}
.payment li:first-child {
  width: 267px;
}
