@font-face {
  font-family: "Raleway-ligth";
  src: url(../fonts/ralewayextralight.woff) format("woff"), url(../fonts/ralewayextralight.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/ralewaylight.woff) format("woff"), url(../fonts/ralewaylight.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

.header .active {
  position: absolute;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 15px rgba(37, 37, 37, 0.07);
          box-shadow: 0px 10px 15px rgba(37, 37, 37, 0.07);
  top: 43px;
  left: -150px;
  z-index: 2;
  width: 1440px;
  height: 85px;
  display: none;
}

.header__menu {
  font-family: "Raleway", sans-serif;
  height: 40px;
  padding: 24px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu button {
  position: relative;
}

.header__menu .header__menu_burger-active {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px auto auto 153px;
}

.header__menu .header__menu_burger-active li img {
  width: 27px;
  height: 27px;
}

.header__menu .header__menu_burger-active li a {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #252525;
  text-transform: uppercase;
}

.header__menu .svg {
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #fff;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.header__menu_burger {
  -webkit-mask-image: url(../img/burger.svg);
          mask-image: url(../img/burger.svg);
  width: 35px !important;
  height: 24px;
  position: relative;
  display: inline-block;
}

.header__menu_burger-active li:hover {
  opacity: 0.7;
  -webkit-transform: 0.3s ease;
      -ms-transform: 0.3s ease;
          transform: 0.3s ease;
}

.header__menu_burger:hover ~ .active {
  display: block;
}

.header__menu_link {
  font-family: "Raleway";
  width: 286px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__menu_link a {
  color: #fff;
}

.header__menu_link a:hover {
  opacity: 0.7;
  -webkit-transform: 0.3s ease;
      -ms-transform: 0.3s ease;
          transform: 0.3s ease;
}

.header__menu_logo {
  width: 158px;
  height: 40px;
  background: transparent url(../img/YANKI.svg) no-repeat center;
}

.header__menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 140px;
  height: 21px;
}

.header__menu_language {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.header__menu_language::after {
  content: " ";
  display: inline-block;
  -webkit-mask-position: 8px 8px;
          mask-position: 8px 8px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #fff;
  cursor: pointer;
  -webkit-mask-image: url(../img/arrow.svg);
          mask-image: url(../img/arrow.svg);
  width: 18px;
  height: 18px;
}

.header__menu_language-active {
  display: none;
  position: absolute;
  background: transparent;
  min-width: 58px;
}

.header__menu_language-active li {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  display: block;
  border-top: 1px solid #e0bea2;
  text-align: center;
  margin-top: 2px;
  padding-top: 3px;
}

.header__menu_language-active li:hover {
  opacity: 0.7;
  -webkit-transform: 0.3s ease;
      -ms-transform: 0.3s ease;
          transform: 0.3s ease;
}

.header__menu_language:hover .header__menu_language-active {
  display: block;
}

.header__menu_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 184px;
}

.header__menu_icon_loupe {
  -webkit-mask-image: url(../img/loupe.svg);
          mask-image: url(../img/loupe.svg);
  width: 25px;
  height: 25px;
}

.header__menu_icon_frame {
  -webkit-mask-image: url(../img/Frame.svg);
          mask-image: url(../img/Frame.svg);
  width: 25px;
  height: 25px;
}

.header__menu_icon_like {
  -webkit-mask-image: url(../img/like.svg);
          mask-image: url(../img/like.svg);
  width: 25px;
  height: 25px;
}

.header__menu_icon_basket {
  -webkit-mask-image: url(../img/basket.svg);
          mask-image: url(../img/basket.svg);
  width: 25px;
  height: 25px;
}

.menu__two .header__menu_language-active li {
  color: #000;
}

.menu__two .header__menu_burger,
.menu__two .header__menu_icon_loupe,
.menu__two .header__menu_icon_frame,
.menu__two .header__menu_icon_like,
.menu__two .header__menu_icon_basket {
  background-color: #e0bea2;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.menu__two .header__menu_language::after {
  background-color: #252525;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.menu__two .svg:hover {
  background-color: #252525;
}

.menu__two .header__menu_logo {
  background: transparent url(../img/YANKI2.svg) no-repeat center;
  width: 195px;
  height: 40px;
}

.menu__two a {
  color: #252525;
}

.menu__two a:hover {
  color: #e0bea2;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.menu__two .header__menu_language {
  color: #252525;
}

.menu__two {
  background: none;
}

.footer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 10px;
}

.footer__menu {
  width: 25%;
}

.footer__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
  text-align: left;
}

.footer h2 {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #252525;
}

.footer ul {
  width: 100%;
}

.footer ul li {
  font-family: "Raleway-ligth";
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer ul li a {
  color: #252525;
  cursor: pointer;
}

.footer ul li a div {
  margin-right: 10px;
}

.footer ul li:nth-child(1) {
  margin-top: 20px;
}

.footer span {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer a:hover {
  color: #e0bea2;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 329px auto 493px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__title {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  color: #fff;
  opacity: 0.85;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.new span {
  width: 120px;
  border-top: 1px solid white;
  display: block;
  margin: 20px 0;
}

.new__text {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.new__text a {
  color: #fff;
}

.new__text::after {
  content: " ";
  display: inline-block;
  background: transparent url(../img/arrow.svg) no-repeat 1px center;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 18px;
  height: 18px;
}

.new__text:hover:after {
  -webkit-mask-image: url(../img/arrow.svg);
          mask-image: url(../img/arrow.svg);
  -webkit-mask-position: 1px center;
          mask-position: 1px center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background: #e0bea2;
  width: 18px;
  height: 18px;
}

.new__text:active,
.new__text:active:after {
  opacity: 0.7;
}

.category {
  margin: 0 auto 100px !important;
  height: 542px;
}

.category__title {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #252525;
  margin: 0 0 50px;
}

.category__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category__box a {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.category__box a .slider__sapn {
  width: 274px;
  height: 40px;
  background: rgba(224, 190, 162, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
}

.category__box a img {
  width: 274px;
  height: 450px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.distribution {
  width: 600px;
  height: 270px;
  margin: 0 auto 100px;
}

.distribution form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.distribution__subtitle {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #252525;
  margin: 0 0 50px;
}

.distribution__mail {
  font-family: "Raleway-ligth";
  width: 600px;
  height: 50px;
  border: 0.5px solid #252525;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: rgba(37, 37, 37, 0.5);
  margin: 0 0 20px;
}

.distribution__button {
  font-family: "Raleway-ligth";
  width: 600px;
  height: 50px;
  background: #e0bea2;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px;
}

.distribution__button:hover {
  -webkit-box-shadow: 0px 5px 7px rgba(37, 37, 37, 0.15);
          box-shadow: 0px 5px 7px rgba(37, 37, 37, 0.15);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.distribution__button:active {
  -webkit-box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
          box-shadow: inset 0px 3px 7px rgba(37, 37, 37, 0.15);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.distribution__button:focus:not(:active) {
  background: #fff;
  color: #252525;
  border: 0.5px solid #e0bea2;
}

.distribution__text {
  font-family: "Raleway-ligth";
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #252525;
}

.breadcrumb {
  margin: 30px auto !important;
}

.breadcrumb__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}

.breadcrumb__item li::after {
  content: " ";
  position: absolute;
  -webkit-mask-image: url(../img/arrow.svg);
          mask-image: url(../img/arrow.svg);
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #e0bea2;
  width: 18px;
  height: 18px;
  right: -24px;
  top: 1px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.breadcrumb__item li:last-of-type::after {
  background-color: transparent;
}

.breadcrumb li {
  margin: 0 25px 0 0;
  display: inline;
  position: relative;
}

.description {
  margin: 30px auto 269px !important;
  color: #252525;
}

.description__box {
  width: 100%;
}

.description__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

.description__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.description__block ol {
  width: 500px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.description__block ol li {
  font-weight: 300;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
}

.description__block ol li:first-child {
  margin-top: 10px;
}

.description__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__list li {
  width: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__list li:first-child {
  width: 267px;
}

.description__list li:last-child {
  width: 540px;
}

.description__list li img {
  width: 30px;
  height: 44px;
  margin-right: 15px;
}

.payment .description__list li p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.returnswap .description__box p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.returnswap .description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.returnswap .description__list li {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
}

.returnswap .description__list li img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 2px;
}

.returnswap .description__box p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.returnswap .description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.returnswap .description__list li {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
}

.slider {
  position: relative;
}

.slider__container {
  overflow: hidden;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.slider_disable-transition {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.slider__control_hide {
  display: none;
}

.slider__control:focus,
.slider__control:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  background: transparent no-repeat center;
  background-size: 100%;
}

.slider__control[data-slide=next]::before {
  background-image: url("../img/arrow.svg");
}

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
  background-color: rgba(255, 255, 255, 0.9);
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__control {
  position: absolute;
  right: 20px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #e0bea2 !important;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
}

picture {
  margin: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  background: transparent;
}

.page {
  width: 100%;
  font-family: "Raleway-ligth";
  font-family: "Raleway";
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.backgraund {
  position: absolute;
  width: 1440px;
  height: 900px;
  background: transparent url(../img/bcg.png) no-repeat center 0;
  top: 0;
  left: 50%;
  margin-left: -720px;
  z-index: -1;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1160px) {
  .category {
    margin: 0 auto 80px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }

  .category__title {
    margin: 0 0 45px;
  }

  .category__box a .slider__sapn {
    width: 200px;
    height: 40px;
    background: rgba(224, 190, 162, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 0;
  }

  .category__box a img {
    width: 200px;
    height: 345px;
    display: block;
  }

  .payment .description__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .payment .description__list li p {
    width: 400px;
    font-size: 14px;
  }

  .payment .description__list li:last-child {
    width: 400px;
  }

  .container {
    width: 900px;
  }
}

@media screen and (max-width: 920px) {
  .header__menu {
    padding: 20px 0 0;
  }

  .header__menu_link {
    width: 200px;
    font-size: 15px;
  }

  .header__menu_box {
    width: 120px;
    height: 21px;
  }

  .header__menu_language {
    font-size: 15px;
    line-height: 21px;
  }

  .header__menu_language::after {
    -webkit-mask-position: 4px 6px;
            mask-position: 4px 6px;
    width: 15px;
    height: 15px;
  }

  .header__menu_icon {
    width: 175px;
  }

  .menu__two .header__menu_logo {
    width: 180px;
    height: 40px;
    background-size: 80%;
  }

  .new {
    margin: 260px auto 480px;
  }

  .category {
    margin: 0 auto 70px;
    height: 372px;
  }

  .category__title {
    font-size: 30px;
    margin: 0 0 40px;
  }

  .category__box a {
    font-size: 18px;
  }

  .category__box a .slider__sapn {
    width: 160px;
    height: 40px;
    background: rgba(224, 190, 162, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 0;
  }

  .category__box a img {
    width: 160px;
    height: 290px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .distribution {
    margin: 0 auto 90px;
  }

  .distribution__mail {
    width: 520px;
    font-size: 14px;
    line-height: 18px;
  }

  .distribution__button {
    width: 520px;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
  }

  .distribution__text {
    font-size: 15px;
    line-height: 18px;
  }

  .payment .description__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .payment .description__list li {
    width: 600px;
    font-size: 14px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 15px;
  }

  .payment .description__list li:last-child {
    width: 600px;
    margin-bottom: 0;
  }

  .returnswap .description__list {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .returnswap .description__list li {
    font-size: 15px;
    line-height: 19px;
    width: 180px;
    margin: 0 10px 50px;
  }

  .backgraund {
    background: transparent url(../img/bcg2.png) no-repeat center 0;
    width: 920px;
    margin-left: -460px;
  }

  .container {
    width: 764px;
  }
}

@media screen and (max-width: 782px) {
  .header__menu .svg {
    -webkit-mask-size: 80%;
            mask-size: 80%;
  }

  .header__menu_burger {
    -webkit-mask-size: 100% !important;
            mask-size: 100% !important;
  }

  .header__menu_link {
    display: none;
  }

  .header__menu_logo {
    width: 140px;
    background-size: 90%;
  }

  .header__menu_box {
    width: 85px;
  }

  .header__menu_language {
    font-size: 15px;
    line-height: 19px;
  }

  .header__menu_language::after {
    -webkit-mask-position: 1px 7px;
            mask-position: 1px 7px;
    -webkit-mask-size: 50%;
            mask-size: 50%;
  }

  .header__menu_icon {
    width: 120px;
  }

  .header .active {
    width: 220px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 34px;
    left: -14px;
    background: transparent;
  }

  .header__menu .header__menu_burger-active {
    width: 220px;
    margin: 10px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header__menu .header__menu_burger-active li img {
    width: 25px;
    height: 25px;
  }

  .header__menu .header__menu_burger-active li {
    margin: 15px auto 0 10px;
  }

  .header__menu .header__menu_burger-active li:first-child {
    display: none;
  }

  .header__menu .header__menu_burger-active li a {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
  }

  .menu__two .header__menu_burger-active li a {
    color: black;
  }

  .menu__two .active {
    color: black;
    background: #fff;
  }

  .footer__list {
    margin-bottom: 40px;
  }

  .footer h2 {
    font-size: 17px;
    line-height: 21px;
  }

  .footer ul li {
    font-size: 12px;
    line-height: 17px;
  }

  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.3333%;
  }

  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .payment .description__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 18px;
  }

  .payment .description__block ol {
    width: 100%;
  }

  .returnswap .description__box p {
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 620px) {
  .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .slider__control {
    right: 20px;
    top: 50%;
    width: 30px;
    height: 30px;
  }

  .slider__control[data-slide=next]::before {
    background-size: 60%;
  }
}

@media screen and (max-width: 590px) {
  .footer {
    margin-bottom: 5px;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer__menu {
    width: 335px;
  }

  .footer__menu h2 {
    border-bottom: 0.3px solid #252525;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    margin-top: 20px;
  }

  .footer__menu ul {
    display: none;
  }

  .footer__menu li {
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__menu .visible {
    display: block;
  }

  .footer__menu h2::after {
    content: " ";
    width: 14px;
    height: 14px;
    -webkit-mask-image: url(../img/arrow.svg);
            mask-image: url(../img/arrow.svg);
    -webkit-mask-position: center;
            mask-position: center;
    -webkit-mask-size: 90%;
            mask-size: 90%;
    background: #e0bea2;
    -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
    position: absolute;
    right: 14px;
    top: 4px;
  }
}

@media screen and (max-width: 570px) {
  .header {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .header__menu {
    padding: 20px 0 0;
  }

  .header__menu .svg {
    -webkit-mask-size: 100%;
            mask-size: 100%;
    width: 20px;
    height: 20px;
  }

  .header__menu_burger {
    width: 34px !important;
    height: 24px !important;
    -webkit-mask-size: 100%;
            mask-size: 100%;
  }

  .header__menu_logo {
    width: 79px;
    height: 20px;
    background-size: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 0;
    grid-row-end: 1;
  }

  .header__menu_box {
    width: 60px;
    height: 21px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-end: 1;
  }

  .header__menu_language {
    font-size: 16px;
  }

  .header__menu_language:last-child {
    display: none;
  }

  .header__menu_language::after {
    -webkit-mask-position: 4px 7px;
            mask-position: 4px 7px;
    -webkit-mask-image: url(../img/arrow.svg);
            mask-image: url(../img/arrow.svg);
    -webkit-mask-size: 60%;
            mask-size: 60%;
  }

  .header__menu_icon {
    width: 63px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 0;
    grid-row-end: 1;
  }

  .header__menu_icon_loupe {
    display: none;
  }

  .header__menu_icon_frame {
    display: none;
  }

  .menu__two .header__menu_logo {
    width: 130px;
    height: 20px;
    background-size: 80%;
  }

  .new {
    margin: 260px auto 300px;
  }

  .new__title {
    font-size: 39px;
    line-height: 46px;
  }

  .new__text {
    font-size: 15px;
  }

  .new__text::after {
    width: 16px;
    height: 16px;
  }

  .category {
    margin-bottom: 0 !important;
  }

  .category__title {
    margin: 0 0 40px;
  }

  .category__box a {
    font-size: 18px;
    line-height: 21px;
  }

  .category__box a .slider__sapn {
    width: 99%;
    height: 35px;
    background: rgba(224, 190, 162, 0.75);
  }

  .category__box a img {
    width: 99%;
    height: 230px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .distribution {
    width: 355px;
    margin: 0 auto 60px;
  }

  .distribution__subtitle {
    font-size: 27px;
    line-height: 34px;
    margin: 0 0 40px;
  }

  .distribution__mail {
    width: 355px;
    font-size: 14px;
    line-height: 18px;
  }

  .distribution__button {
    width: 355px;
    height: 50px;
    font-size: 14px;
    line-height: 18px;
  }

  .distribution__text {
    font-size: 15px;
    line-height: 18px;
  }

  .description {
    margin: 0 auto 36px !important;
  }

  .payment .description__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }

  .payment .description__block ol {
    font-size: 14px;
    line-height: 20px;
  }

  .payment .description__block {
    margin-bottom: 15px;
  }

  .payment .description__block ol:last-child {
    margin-top: 15px;
  }

  .payment .description__block ol li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .payment .description__block ol li:last-child {
    margin-bottom: 0;
  }

  .payment .description__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .payment .description__list {
    width: 335px;
  }

  .payment .description__list li {
    width: 335px;
  }

  .payment .description__list li:last-child {
    width: 335px;
  }

  .payment .description__list li img {
    width: 35px;
    height: 39px;
    margin-right: 25px;
  }

  .backgraund {
    background: transparent url(../img/bc1.png) no-repeat center 0;
    height: 667px;
    background-size: 55% !important;
  }
}

@media screen and (max-width: 480px) {
  .returnswap .description__box p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 17px;
  }

  .returnswap .description__list li {
    width: 335px;
  }
}

@media screen and (max-width: 376px) {
  .header__menu {
    height: 24px;
    padding: 25px 0 0;
  }

  .header__menu .svg {
    width: 22px;
    height: 22px;
  }

  .header__menu_box {
    width: 42px;
    height: 20px;
  }

  .header__menu_language {
    font-size: 16px;
    line-height: 19px;
  }

  .header__menu_language::after {
    -webkit-mask-position: 5px 6px;
            mask-position: 5px 6px;
    width: 14px;
    height: 14px;
  }

  .menu__two .header__menu_logo {
    width: 97px;
    height: 20px;
    background-size: 100%;
    margin-right: 36px;
  }

  .new {
    margin: 246px auto 351px;
  }

  .new__title {
    font-size: 32px;
    line-height: 38px;
  }

  .new__text {
    font-size: 14px;
    line-height: 16px;
  }

  .new__text::after {
    width: 14px;
    height: 14px;
  }

  .distribution {
    width: 335px;
    margin: 0 auto 60px;
  }

  .distribution__subtitle {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 30px;
  }

  .distribution__mail {
    width: 335px;
    font-size: 14px;
    line-height: 16px;
  }

  .distribution__button {
    width: 335px;
    font-size: 14px;
    line-height: 16px;
  }

  .distribution__text {
    font-size: 14px;
    line-height: 16px;
  }

  .breadcrumb {
    margin: 15px auto 13px !important;
  }

  .breadcrumb__item {
    font-size: 16px;
    line-height: 22px;
  }

  .breadcrumb li {
    margin: 0 24px 0 0;
  }

  .returnswap .description__box p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  .returnswap .description__box p:last-child {
    margin-bottom: 0;
  }

  .returnswap .description__subtitle {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .returnswap .description__box {
    margin-bottom: 13px;
  }

  .returnswap .description__list {
    width: 335px;
  }

  .returnswap .description__list li {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 15px;
  }

  .returnswap .description__list li:last-child {
    margin-bottom: 0;
  }

  .returnswap .description__list li img {
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0 0 5px;
    width: 30px;
    height: 30px;
  }

  .page {
    width: 375px;
  }

  .container {
    width: 335px;
  }
}

.webp .backgraund { background: transparent url(../img/bcg.webp) no-repeat center 0; }

@media screen and (max-width: 920px) {

  .webp .backgraund { background: transparent url(../img/bcg2.webp) no-repeat center 0; }
}

@media screen and (max-width: 570px) {

  .webp .backgraund { background: transparent url(../img/bc1.webp) no-repeat center 0; }
}