.catalog {
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  &__block_one {
    width: 150px;
    height: max-content;
  }
  &__sudtitle {
    @include font-subtitle;
  }
  &__list {
    @include font-text;
    font-weight: $weight-300;
    display: block;
    li {
      margin-bottom: 20px;
    }
  }
  &__block_two {
    width: 960px;
    height: max-content;
  }
  &__block_two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  input[type="range"] {
    overflow: hidden;
    width: 100px;
    -webkit-appearance: none;
    background-color: $beige;
    border-radius: 50px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: $beige;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: $darkGrey;
    box-shadow: -75px 0 0 70px #3366a0;
    border-radius: 50px;
  }

  input[type="range"]::-moz-range-progress {
    background-color: #3366a0;
  }
  input[type="range"]::-moz-range-track {
    background-color: $beige;
  }
  input[type="range"]::-ms-fill-lower {
    background-color: #3366a0;
  }
  input[type="range"]::-ms-fill-upper {
    background-color: $beige;
  }
}
.product-card {
  width: 310px;
  height: 461px;
  position: relative;
  margin-bottom: 30px;

  &__like {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 0px 0px 0px 20px;
    background: $beige;

    &_mask {
      mask-image: url(#{$imgPath}like.svg);
      mask-repeat: no-repeat;
      mask-position: 11px 9px;
      -webkit-mask-image: url(#{$imgPath}like.svg);
      -webkit-mask-position: 11px 9px;
      -webkit-mask-repeat: no-repeat;
      background-color: $white;
      mask-size: 50%;
      -webkit-mask-size: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    &_mask:hover {
      background-color: $darkGrey;
      transition: background-color 0.3s ease;
    }
  }

  &__img {
    width: 310px;
    max-height: 360px;
    object-fit: cover;
    object-position: 0 77%;
  }
  &__box {
    height: max-content;
    width: 310px;
    text-align: center;
  }
  &__subtitle {
    @include font-subtitle;
    margin-bottom: 5px;
    position: relative;
  }
  &__price {
    @include font-text;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__list {
    @include font-text;
    display: flex;
    justify-content: center;
    width: 105px;
    color: rgba(37, 37, 37, 0.5);
    font-weight: 300;
    margin: 0 auto 5px;
  }
  &__option {
    width: 52px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__circul {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    display: block;
  }
  &:nth-of-type(1) .product-card__subtitle::after,
  &:nth-of-type(4) .product-card__subtitle::after,
  &:nth-of-type(5) .product-card__subtitle::after,
  &:nth-of-type(7) .product-card__subtitle::after,
  &:nth-of-type(10) .product-card__subtitle::after,
  &:nth-of-type(11) .product-card__subtitle::after {
    content: "new";
    @include font-text;
    line-height: 23px;
    color: $beige;
    margin-left: 10px;
    position: absolute;
  }
}

.product--available::after,
.product--unavailable::after {
  position: absolute;
  @include font-subtitle;
  font-size: 25px;
  font-weight: 500;
  top: 0;
  left: 50%;
  padding: 10px 5px 2px 5px;
  border-bottom: 3px solid $darkGrey;
  transform: translateX(-50%);
  color: $darkGrey;
}

.product--unavailable {
  filter: grayscale(1) opacity(0.7);
}

.product--unavailable::after {
  content: "Нет в наличии";
  font-size: 20px;
  color: black;
}

@media screen and (max-width: 1260px) {
  .catalog__block_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 920px) {
  .catalog__block_two {
    justify-items: end;
  }
  .product-card {
    width: 240px;
    height: 401px;
    position: relative;
    margin-bottom: 30px;

    &__img {
      width: 240px;
      max-height: 300px;
    }
    &__box {
      width: 240px;
    }
    &__list {
      @include font-text;
      display: flex;
      justify-content: space-between;
      width: 105px;
      color: rgba(37, 37, 37, 0.5);
      font-weight: 300;
      margin: 0 auto 5px;
    }
  }
}

@media screen and (max-width: 780px) {
  .catalog {
    margin: 0 auto 100px;
    flex-direction: column;

    &__block_one {
      width: 100%;
      height: max-content;
    }
    &__sudtitle {
      width: 100%;
      height: 20px;
      background: $beige;
      color: white;
      text-align: center;
      font-size: 28px;
      line-height: 21px;
      padding: 10px 0 10px;
      position: relative;
    }
    &__sudtitle::after {
      content: " ";
      position: absolute;
      background: transparent url(#{$imgPath}arrow.svg) no-repeat 7px 7px;
      background-size: 52%;
      width: 29px;
      height: 19px;
    }
    &__list {
      font-size: 28px;
      line-height: 21px;
      font-weight: $weight-300;
      background: $white;
      color: $white;
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-around;
      justify-items: start;
      visibility: hidden;
      height: 0;
      opacity: 0;

      li {
        margin-bottom: 20px;
      }
    }
    &__block_two {
      width: 100%;
      height: max-content;
    }
    &__block_two {
      grid-template-columns: repeat(2, auto);
      justify-items: center;
    }
  }
  .visibility {
    visibility: visible;
    height: max-content;
    opacity: 1;
    transition-property: visibility;
    transition-delay: 0.15s;
  }
}

@media screen and (max-width: 570px) {
  .catalog {
    margin: 0 auto 100px;
    flex-direction: column;

    &__block_one {
      width: 100%;
      height: max-content;
    }
    &__sudtitle {
      width: 100%;
      font-size: 18px;
      line-height: 21px;
      padding: 10px 0 10px;
      position: relative;
    }
    &__sudtitle::after {
      background: transparent url(#{$imgPath}arrow.svg) no-repeat 5px 9px;
      background-size: 36%;
      width: 29px;
      height: 19px;
    }
    &__list {
      li {
        @include font-text;
        margin-bottom: 10px;
      }
    }
    &__block_two {
      width: 100%;
      height: max-content;
    }
    &__block_two {
      grid-template-columns: repeat(2, auto);
      justify-items: center;
    }
  }

  .product-card {
    width: 165px;
    height: 326px;
    margin-bottom: 5px;

    &__like {
      &_mask {
        mask-position: 12px 10px;
        -webkit-mask-position: 12px 10px;
        width: 35px;
        height: 35px;
      }
      &_mask:hover {
        background-color: $darkGrey;
        transition: background-color 0.3s ease;
      }
    }

    &__img {
      width: 165px;
      max-height: 230px;
      object-fit: cover;
      object-position: 0 77%;
    }
    &__box {
      height: max-content;
      width: 165px;
      text-align: center;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 5px;
      position: relative;
    }
    &__price {
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    &__list {
      font-size: 14px;
      line-height: 16px;
      display: flex;
      justify-content: space-evenly;
      width: 105px;
      color: rgba(37, 37, 37, 0.5);
      font-weight: 300;
      margin: 0 auto 5px;
    }

    &:nth-of-type(1) .product-card__subtitle::after,
    &:nth-of-type(4) .product-card__subtitle::after,
    &:nth-of-type(5) .product-card__subtitle::after,
    &:nth-of-type(7) .product-card__subtitle::after,
    &:nth-of-type(10) .product-card__subtitle::after,
    &:nth-of-type(11) .product-card__subtitle::after {
      margin-left: 5px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}
