.confidentiality {
  margin: 20px auto 100px;
}
.confidentiality__subtitle {
  @include font-subtitle;
  text-transform: uppercase;
}
.confidentiality__list_text {
  font-weight: $weight-300;
  @include font-text;
  text-transform: uppercase;
}
.confidentiality__list_text {
  font-weight: 200;
  @include font-text;
  margin-top: 20px;
  text-transform: none;
}
