.description {
  margin: 30px auto 269px;
  color: $darkGrey;
}
.description__box {
  width: 100%;
}
.description__subtitle {
  @include font-subtitle;
}
.description__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.description__block ol {
  width: 500px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.description__block ol li {
  font-weight: 300;
  margin-bottom: 5px;
  @include font-text;
}
.description__block ol li:first-child {
  margin-top: 10px;
}
.description__text {
  font-weight: 300;
  @include font-text;
  margin-bottom: 25px;
}
.description__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.description__list li {
  width: 206px;
  display: flex;
  align-items: center;
}

.description__list li:first-child {
  width: 267px;
}

.description__list li:last-child {
  width: 540px;
}
.description__list li img {
  width: 30px;
  height: 44px;
  margin-right: 15px;
}

.payment .description__list li p {
  font-weight: 300;
  @include font-text;
}
.returnswap .description__box p {
  font-weight: 300;
  @include font-text;
  margin-bottom: 10px;
}

.returnswap .description__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}
.returnswap .description__list li {
  font-weight: 300;
  @include font-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 165px;
}

.returnswap .description__list li img {
  object-fit: contain;
  margin: 0 0 2px;
}
.returnswap .description__box p {
  font-weight: 300;
  @include font-text;
  margin-bottom: 10px;
}

.returnswap .description__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: center;
}
.returnswap .description__list li {
  font-weight: 300;
  @include font-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 165px;
}

@media screen and (max-width: 1160px) {
  .payment .description__list {
    align-items: center;
  }
  .payment .description__list li p {
    width: 400px;
    font-size: 14px;
  }
  .payment .description__list li:last-child {
    width: 400px;
  }
}

@media screen and (max-width: 920px) {
  .payment .description__list {
    align-items: center;
    flex-direction: column;
  }
  .payment .description__list li {
    width: 600px;
    font-size: 14px;
    justify-content: space-evenly;
    margin-bottom: 15px;
  }
  .payment .description__list li:last-child {
    width: 600px;
    margin-bottom: 0;
  }
  .returnswap .description__list {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .returnswap .description__list li {
    font-size: 15px;
    line-height: 19px;
    width: 180px;
    margin: 0 10px 50px;
  }
}

@media screen and (max-width: 768px) {
  .payment .description__block {
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
  }
  .payment .description__block ol {
    width: 100%;
  }
  .returnswap .description__box p {
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 570px) {
  .description {
    margin: 0 auto 36px;
  }
  .payment .description__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  .payment .description__block ol {
    font-size: 14px;
    line-height: 20px;
  }
  .payment .description__block {
    margin-bottom: 15px;
  }
  .payment .description__block ol:last-child {
    margin-top: 15px;
  }
  .payment .description__block ol li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .payment .description__block ol li:last-child {
    margin-bottom: 0;
  }
  .payment .description__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .payment .description__list {
    width: 335px;
  }
  .payment .description__list li {
    width: 335px;
  }
  .payment .description__list li:last-child {
    width: 335px;
  }
  .payment .description__list li img {
    width: 35px;
    height: 39px;
    margin-right: 25px;
  }
}
@media screen and (max-width: 480px) {
  .returnswap .description__box p {
    font-weight: 300;
    @include font-text;
    margin-bottom: 17px;
  }
  .returnswap .description__list li {
    width: 335px;
  }
}
@media screen and (max-width: 376px) {
  .returnswap .description__box p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
  }
  .returnswap .description__box p:last-child {
    margin-bottom: 0;
  }
  .returnswap .description__subtitle {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .returnswap .description__box {
    margin-bottom: 13px;
  }
  .returnswap .description__list {
    width: 335px;
  }
  .returnswap .description__list li {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: max-content;
    margin-bottom: 15px;
  }
  .returnswap .description__list li:last-child {
    margin-bottom: 0;
  }

  .returnswap .description__list li img {
    object-fit: contain;
    margin: 0 0 5px;
    width: 30px;
    height: 30px;
  }
}
