.loyalty {
  margin: 30px auto 100px;
}
.loyalty__title {
  @include font-subtitle;
}
.loyalty__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.loyalty__text {
  @include font-text;
  font-weight: 200;
}

.loyalty__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}
