.wrapper {
  width: 1140px;
  height: 450px;
  position: relative;
}
.slider-container {
  height: 450px;
  overflow: hidden;
}
.slider-track {
  display: flex;
  transition: 0.2s;
  width: 1445px;
}
.slider-item {
  height: 450px;
  width: 24.5%;

  a {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    position: relative;
    img {
      width: 274px;
      height: 450px;
      display: block;
      object-fit: cover;
    }
  }
}
.slider__sapn {
  width: 274px;
  height: 40px;
  background: rgba(224, 190, 162, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 410px;
}
.slider-buttons {
  text-align: center;
}
.slider {
  margin: 0 auto 100px !important;
  height: 542px;

  &__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #252525;
    margin: 0 0 50px;
  }
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #e0bea2;
    top: 50%;
    right: 20px;
  }
  .btn-prev {
    top: 50%;
    left: 20px;
  }
}
.btn-next {
  background: transparent url(../img/arrow.svg) no-repeat center;
  background-size: 65%;
  transform: rotate(-90deg);
}
.btn-prev {
  background: transparent url(../img/arrow.svg) no-repeat center;
  background-size: 65%;
  transform: rotate(90deg);
}

@media screen and (max-width: 1160px) {
  .wrapper {
    width: 850px;
    margin: 0 auto;
  }
  .slider__title {
    margin-left: 25px;
  }
}

@media screen and (max-width: 920px) {
  .wrapper {
    width: 764px;
    margin: 0 auto;
  }
  .slider__title {
    margin-left: 0;
  }
}
