@import "fonts";
@import "header";
@import "footer";
@import "new";
@import "category";
@import "distribution";
@import "breadcrumb";
@import "description";
@import "slider";

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
}
picture {
  margin: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  background: transparent;
}
.page {
  width: 100%;
  font-family: "Raleway-ligth";
  font-family: "Raleway";
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 376px) {
  .page {
    width: 375px;
  }
}
.backgraund {
  position: absolute;
  width: 1440px;
  height: 900px;
  background: transparent url(@img/bcg.png) no-repeat center 0;
  top: 0;
  left: 50%;
  margin-left: -720px;
  z-index: -1;
}
@media screen and (max-width: 920px) {
  .backgraund {
    background: transparent url(@img/bcg2.png) no-repeat center 0;
    width: 920px;
    margin-left: -460px;
  }
}
@media screen and (max-width: 570px) {
  .backgraund {
    background: transparent url(@img/bc1.png) no-repeat center 0;
    height: 667px;
    background-size: 55% !important;
  }
}
.container {
  width: 1140px;
  margin: 0 auto;
}
@media screen and (max-width: 1160px) {
  .container {
    width: 900px;
  }
}
@media screen and (max-width: 920px) {
  .container {
    width: 764px;
  }
}
@media screen and (max-width: 782px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 376px) {
  .container {
    width: 335px;
  }
}
