@mixin font-subtitle {
  font-weight: $weight-300;
  font-size: $size-20;
  color: $darkGrey;
  line-height: $height-23;
  margin-bottom: $bottom;
}

@mixin font-text {
  font-size: $size-16;
  line-height: $height-20;
}

$size-16: 16px;
$height-20: 20px;
$bottom: 30px;
$weight-300: 300;
$size-20: 20px;
$height-23: 23px;
$imgPath: "../img/";
$beige: #e0bea2;
$white: #fff;
$darkGrey: #252525;

@import "fonts";
@import "header";
@import "footer";
@import "new";
@import "distribution";
@import "breadcrumb";
@import "description";
@import "slider";
@import "connection";
@import "confidentiality";
@import "loyalty";
@import "about";
@import "catalog";

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  border: none;
}
*::before,
*::after {
  box-sizing: border-box;
}
picture {
  margin: 0;
}
button {
  cursor: pointer;
  background: transparent;
}
.page {
  width: 100%;
  font-family: "raleway";
  margin: auto;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 376px) {
  .page {
    width: 375px;
  }
}
.backgraund {
  position: absolute;
  width: 1440px;
  height: 900px;
  background: transparent url(#{$imgPath}bcg.png) no-repeat center 0;
  top: 0;
  left: 50%;
  margin-left: -720px;
  z-index: -1;
}
@media screen and (max-width: 920px) {
  .backgraund {
    background: transparent url(#{$imgPath}bcg2.png) no-repeat center 0;
    width: 920px;
    margin-left: -460px;
  }
}
@media screen and (max-width: 570px) {
  .backgraund {
    background: transparent url(#{$imgPath}bc1.png) no-repeat center 0;
    height: 667px;
    background-size: 55% !important;
  }
}
.container {
  width: 1140px;
}
@media screen and (max-width: 1160px) {
  .container {
    width: 900px;
  }
}
@media screen and (max-width: 920px) {
  .container {
    width: 764px;
  }
}
@media screen and (max-width: 782px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 376px) {
  .container {
    width: 335px;
  }
}
